.container
{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #121212;
    position: relative;
    overflow: hidden;
}

.left
{
    height: 100%;
    width: 45%;
    background: linear-gradient(#222222, #121212);
    border-radius: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: -4px 0px 100px 20px #121212;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
}

.title img
{
    height: 5rem;
}

.title h1
{
    color: white;
    font-size: 3rem;
}

.left p
{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    font-weight: normal;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.left button, .content button
{
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    background-color: #1CB955;
    padding: 1.5rem 1.75rem;
    border: none;
    border-radius: 100px;
}

.left button:hover
{
    transform: scale(1.025);
    cursor: pointer;
}

.right
{
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.album
{
    height: 100%;
    width: 100%;
    margin-bottom: -0.5rem;
}

.album img
{
    height: 18rem;
    width: 18rem;
    background-color: lightblue;
}

.row
{
    display: flex;
    height: 100%;
    width: fit-content;
}

#row1
{
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

#row2
{
    transform: translateX(30px);
    animation-name: move;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

#row3
{
    transform: translateX(15px);
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes move
{
    0%
    {
        transform: translateX(0px);
    }
    50%
    {
        transform: translateX(30px);
    }
    100%
    {
        transform: translateX(0px);
    }
}

.mobile
{
    position: relative;
    width: 100vw;
}

.mobile .background
{
    transform: translateX(-50px);
}

.mobile .content
{
    background: linear-gradient(#222222, #121212);
    box-shadow: -4px 0px 100px 20px #121212;
    border-radius: 10px;
    width: 101%;
    height: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.content .title
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.content .title img
{
    height: 3rem;
}

.content .title h1
{
    color: white;
    font-size: 1.9rem;
}

.content p
{
    font-size: 1.65rem;
    color: white;
    width: 70%;
    text-align: center;
    margin-top: 4rem;
}

.content button
{
    margin-top: 4rem;
    font-size: 1.45rem;
}