html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #121212;
}

a
{
  text-decoration: none;
  color: inherit;
}

* :not(.iconify)
{
    font-family: 'Circular Std';
}